@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: thin;
}

.spinner {
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  position: absolute;
  top: 45%;
  left: 50%;
}

.spinner::after,
.spinner::before {
  content: "";
  position: absolute;
  border: 5px solid #374151;
}

.spinner::after {
  width: 76px;
  height: 76px;
  animation: spinner 2.5s linear infinite;
}

.spinner::before {
  width: 96px;
  height: 96px;
  margin-left: -10px;
  margin-top: -10px;
  animation: spinner 2.5s linear infinite;
  animation-direction: reverse;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.progress {
  animation: progress 0.8s alternate-reverse infinite ease-in-out;
}

@keyframes progress {
  from {
    transform: scale(1);
    opacity: 0.7;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

.toast-pop {
  animation: toast-pop 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes toast-pop {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
